{% extends "base.html" %}
{% block title %}Access Denied | minesweeper.org{% endblock %}
{% block description %}You don't have permission to view this page.{% endblock %}
{% block canonical %}https://minesweeper.org/{% endblock %}

{% block content %}
<div class="notfound-wrap">
  <div class="notfound-board" aria-hidden="true">
    <div class="nf-cell nf-revealed">4</div>
    <div class="nf-cell nf-mine">🚫</div>
    <div class="nf-cell nf-revealed">3</div>
  </div>
  <h1 class="notfound-title">{{ t['err403_title'] }}</h1>
  <p class="notfound-sub">{{ t['err403_sub'] }}</p>
  <div class="notfound-links">
    <a href="/" class="notfound-btn">{{ t['err404_play'] }}</a>
    <a href="/leaderboard" class="notfound-btn notfound-btn--secondary">{{ t['err404_lb'] }}</a>
  </div>
</div>
{% endblock %}
