{% extends "base.html" %}
{% block title %}Page Not Found | minesweeper.org{% endblock %}
{% block description %}The page you're looking for doesn't exist. Head back to minesweeper.org and play some minesweeper.{% endblock %}
{% block canonical %}https://minesweeper.org/{% endblock %}

{% block content %}
<div class="notfound-wrap">
  <div class="notfound-board" aria-hidden="true">
    <div class="nf-cell nf-revealed">4</div>
    <div class="nf-cell nf-mine">💣</div>
    <div class="nf-cell nf-revealed">4</div>
  </div>
  <h1 class="notfound-title">{{ t['err404_title'] }}</h1>
  <p class="notfound-sub">{{ t['err404_sub'] }}</p>
  <div class="notfound-links">
    <a href="/" class="notfound-btn">{{ t['err404_play'] }}</a>
    <a href="/leaderboard" class="notfound-btn notfound-btn--secondary">{{ t['err404_lb'] }}</a>
  </div>
</div>
{% endblock %}
